body {
  font-family: 'Courier New', Courier, monospace;
  background-color: lightgrey;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-bottom: 10px;
}

.form-group input {
  border-radius: 2px;
  height: 18px;
  font-size: 12px;
  padding: 4px;
}

.form-group label {
  font-weight: 900;
}

.form-group .form-message {
  color: red;
  font-size: 12px;
}

.header-title {
  text-align: center;
}

#submit {
  margin-top: 10px;
  background-color: rgb(78, 197, 177);
  color: white;
  width: 100%;
  border-radius: 6px;
  padding: 6px;
}
#submit:hover {
  cursor: pointer;
}

.container {
  margin: 0 auto;
  width: 300px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 16px;
  box-shadow: 0px 0px 2px 1px gray;
  background-color: rgb(255, 255, 255);
}